body{
	background: #f6f6f1;
  color: #111;
  font-family: "Open Sans";
  font-size: 18px;
  padding-bottom: 48px;
}

h1 {
	font-size: 3.2rem;
	line-height: 1.2;
	-webkit-font-smoothing: antialiased;
}

nav {
	background: white;
	padding: 10px 20px;
	font-size: 16px;
}
.container {
	margin: auto;
	margin-top: 64px;
	max-width: 1024px;
	width: 90%;
}

.grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 50px;
	grid-row-gap: 50px;
}

.grid-box img {
	width: 100%;
}

.grid-box a {
	text-decoration: none;
}

.grid-box a .box-title {
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	margin: 16px 0 0;
  padding-bottom: 8px;
  color: black;
  width: 100%;
  text-decoration: none;
}

.grid-box a .bottom-line {
	background: black;
	height: 5px;
	opacity: 0;
}

.grid-box a:hover img {
	margin-top: -10px;
	margin-bottom: 10px;
	box-shadow: 0 6px 12px rgba(0,0,0,.175);
	transform: rotate(1deg);
	transition: all 0.3s;
}

.grid-box a:hover .bottom-line {
	opacity: 1;
}

.hero {
	width: 90%;
	text-align: center;
	margin: auto;
}

.hero img {
	max-width: 200px;
}

.hero h1 {
	letter-spacing: 0.9;
	margin-bottom: 10px;
}

.hero h2 {
	font-style: italic;
	font-size: 2.3rem;
	max-width: 700px;
	width: 100%;
	margin: auto;
	margin-top: 0px;
}

.content {
	width: 90%;
	max-width: 636px;
	margin: auto;
}

.content p {
	font-size: 20px;
	line-height: 1.5;
}

@media only screen and (max-width: 991px) {
	.grid {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}

@media only screen and (max-width: 768px) {
	.grid {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

@media only screen and (max-width: 573px) {
	.grid {
		grid-template-columns: 1fr 1fr;
	}
}

@media only screen and (max-width: 365px) {
	.grid {
		grid-template-columns: 1fr;
	}
}